header {
    width: 100%;
    margin-bottom: 5px;
    overflow: hidden;
}
header img {
    width: 100%; /* Makes the image full width */
    max-height: 120px; /* Limits the height to 100px */
    height: auto; /* Keeps the aspect ratio */
    object-fit: cover; 
    object-position: top;
}

.header-text {
    position: absolute; /* Absolutely position the text */
    top: 70px; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position to truly center */
    color: white; /* Text color */
    font-size: 40px; /* Adjust font size as needed */
    font-family: 'Montserrat', sans-serif; /* Change font type */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8); /* Add a shadow for better visibility */
    text-align: center; /* Center text */
    text-transform: none; /* Make text appear in capital letters */
    font-weight: bold; /* Make text bold */
}

.info img {
    max-height: 40%; /* Subtract the height of header and other elements */
    width: auto; /* Keep the width auto to maintain aspect ratio */
    height: auto; /* Keep the height auto to maintain aspect ratio */
}

.leaflet-popup-content {
    max-width: 100%;         /* Allow the popup to scale with the viewport */
    max-height: 80vh;        /* Limit the height to 80% of the viewport height */
    overflow-y: auto;        /* Enable scrolling if content overflows vertically */
    box-sizing: border-box;  /* Ensure padding and borders are included in width calculation */
    padding: 0;              /* Remove any padding */
    display: flex;           /* Flexbox to handle the alignment of content */
    justify-content: flex-start; /* Align content to the left */
    align-items: flex-start;     /* Align content to the top */
}

.popup-frame {
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    border: none; /* No border around the iframe */
}

.popup-content {
    display: flex;
    flex-direction: column; /* Stack h3 and info vertically */
    padding: 10px; /* Add some padding */
    border: 1px solid #ccc; /* Optional: Add a border */
    justify-content: flex-start;
    border-radius: 5px; /* Optional: Round the corners */
    background-color: #fff; /* Optional: Background color */
}

.popup-info {
    max-height: 400px; /* Adjust based on content */
    overflow-y: auto; /* Enable scrolling if necessary */
}

.popup-image {
    display: none;
}

/* Optional: Add some margin to the h3 for spacing */
.popup-content h3 {
    margin-bottom: 5px; /* Space between title and info */
}


#map {
    width: 100%;
    height: calc(100vh - 250px);
    margin-bottom: 10px;
}
.info {
    width: 30%;
    padding: 10px;
}
img {
    max-width: 100%;
    height: auto;
}

footer {
    width: 100%;
    overflow: hidden;
    margin-top: 5px; /* Add space above footer */
}

footer img {
    width: 100%; /* Makes the image full width */
    max-height: 80px; /* Limits the height */
    height: auto; /* Keeps the aspect ratio */
    object-fit: cover; /* Ensures the image covers the entire area without distortion */
    object-position: bottom;
}
footer nav {
    position: absolute; /* Position the menu absolutely inside the footer */
    bottom: 22px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Makes sure the menu is above the image */
    text-align: center; /* Centers the navigation menu */
    padding: 10px 0; /* Adds padding around the menu */
    background-color: rgba(0, 0, 0, 0); /* Optional: Add a semi-transparent background */
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0; /* Adds margin on top */
}

nav ul li {
    display: inline-block;
    margin: 0 15px; /* Spacing between the menu items */
}

nav ul li a {
    color: white; /* Menu text color */
    text-decoration: none; /* Removes underline */
    font-size: 18px;
    font-family: 'Montserrat', sans-serif; /* Change font type */
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline; /* Adds underline on hover */
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px 0;
    position: absolute;
    bottom: 10px; /* Position logos at the bottom of the footer */
    width: 100%; 
    z-index: 2; /* Ensure logos appear on top of the background image */
}

.logo {
    max-height: 40px;
    height: auto;
    width: auto;
}

